# pipeline.cfg single source of truth. Sourced by bash scripts, parsed by the
# Python scripts (via bash). Nothing else may hardcode any of these values.

RUNS=(
  403748
  403751
  403774
  403775
  403811
  403818
  403863
  403864
  403866
  403867
  403894
  403895
  403937
)

DATASET_PATTERN='^/EGamma[0-9]+/[^/]*ZElectron-PromptReco-v[0-9]+/RAW-RECO$'

# --- tags (parallel arrays, same order) ---
TAGS=("HLT" "Prompt" "NGT")
GTAGS=("160X_dataRun3_HLT_v1" "160X_dataRun3_Prompt_v1" "160X_dataRun3_NGT_v6")

# Here are the options for the hltGetConfiguration command
HLT_MENU="/dev/CMSSW_16_0_0/GRun"
ERA="Run3_2026"
L1_MENU="L1Menu_Collisions2026_v1_1_0_xml"
HLT_PATHS="Dataset_TestDataRaw,LocalTestDataRawOutput,Dataset_TestDataScouting,DQMTestDataScoutingOutput,DST_PFScouting*,HLT_TestData_v*,HLTriggerFinalPath,HLT_Ele23_Ele12_CaloIdL_TrackIdL_IsoVL_DZ_v*"

CMSSW_SRC="/afs/cern.ch/user/j/jprendi/sakura/NERDAnalysis2026/AnalysisPipeline_ms/max_internship/CMSSW_16_0_9/src"

FILELIST="filelist.txt" # the input file that contains all the paths to the raw detector data
EOS_BASE="/eos/cms/store/group/tsg-phase2/user/jprendi/NERD2026/tests/CodeReviewTest" # where the files should be sent to upon successful HTCondor job
EOS_XRD="root://eosuser.cern.ch"

# What outputs from cmsRun are we intersted in?
STREAMS=("LocalTestDataRaw" "DQMTestDataScouting")
LOCAL_FILES=("outputLocalTestDataRaw.root" "outputDQMTestDataScouting.root")

# --- batch ---
N_PER_JOB=3
JOB_FLAVOUR="workday" # 8 h
REQUEST_MEMORY_MB=5000
PROXY="x509up_u$(id -u)"

# --- DQM  ---
DQM_DEST_BASE=" "
DQM_HLT_CFG="DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py"
DQM_SCOUTING_CFG="DQM/Integration/python/clients/scouting_dqm_sourceclient-live_cfg.py"
