name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest black isort flake8
    - name: Analysing the code with pylint
      run: |
        pylint --disable=R0801 --fail-under=4.0 $(git ls-files 'Calibrations/NGT*.py')
    - name: Check import order with isort
      run: |
        isort --check-only $(git ls-files 'Calibrations/NGT*.py')
    - name: Run flake8
      run: |
        flake8 --ignore=E501 $(git ls-files 'Calibrations/NGT*.py')
